
#header{
    color: aliceblue;
    background-color:blanchedalmond;
    font-family: "Times New Roman", Times, serif;
    border-style: groove;
    border-width: 8px;
    border-color:green;
    color: black;
    text-align: center;
    font-size:38px;

}

#nav-1{
    background-color:rgb(167, 219, 135);
    font-family: "Times New Roman", Times, serif;
    border-bottom-style: double;
    border-bottom-width: 5px;
}

.collapse{
    text-align: left;

}

#menu-collapse{
    color:aliceblue;
    background-color:rgb(8, 154, 78);
}

#img-logo{
    box-sizing: content-box;
    border-radius: 35%;
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    width: 50%;    
    height: 500px    
}
#logo-div{
    align-items: center;
    background-color: rgb(223, 202, 160);
}
#descripcion{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: xx-large;
    background-color: rgb(223, 202, 160);
    border-style:double;
    border-color:rgb(223, 202, 160);
}
#prod-destacados{
    background-color: rgb(2, 42, 15);
}
#destacados{
    padding-left: 25%;
    padding-right: 25%;

}
.carousel-item{
    width: 85%;
}
.carousel-item img{
    height: 750px;
}
.carousel-caption{  
    font-family: "Times New Roman", Times, serif;
    font-size:medium;
    background-color: rgba(28, 28, 28, 0.345);
}
#formulario-recoleccion{
    background-color: rgb(167, 219, 135);

}
#form-section{
    background-color: rgb(223, 202, 160);
    font-family: "Times New Roman", Times, serif;
}
#enviar-btn{
    background-color: rgb(9, 89, 21);
    border-color: rgb(6, 184, 12);
    border-width: 3px;
}
#separador-productos-formulario{
    text-align: center;
    background-color: rgb(2, 42, 15);
    border-color:rgb(2, 42, 15);
    border-style:double;
}
#footer{
    background-color:rgb(22, 105, 43);
    border-style: groove;
    border-width: 5px;
    border-color: rgb(6, 182, 12);
    color:rgb(255, 255, 255)
}
#links-contactos{
    color: rgb(8, 58, 15);
}
#contactanos{
    padding-top: 5px;
    padding-left: 10px;
}
#catalogo{
    font-family: "Times New Roman", Times, serif;
    background-color: rgb(2, 42, 15);
}
#row-catalogo{
    padding: 3%;
}
.card-img-top{
    width:auto;
    height: 300px;
}

#Productos .card{   
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Productos .card-body{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}